<form (submit)="onRegister(RegisterForm)" #RegisterForm="ngForm">
    <mat-card>
        <h3>User Registration Form</h3>
        <mat-form-field>
            <input
            matInput 
            type=email 
            [ngModel]="user?.email" 
            name="email" 
            placeholder="E-Mail"
            required
            #email="ngModel"
            email>
            <mat-error *ngIf="email.invalid">Please enter correct email address</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
            matInput 
            type=password 
            [ngModel]="user?.password" 
            name="password" 
            placeholder="Password" 
            required
            minlength="7"
            #password="ngModel">
            <mat-hint align="end">Min length is 7</mat-hint>
            <mat-error *ngIf="password.invalid">Please enter correct password</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
            matInput 
            type=text 
            [ngModel]="user?.username" 
            name="username" 
            placeholder="Your Full Name" 
            required
            maxlength="100"
            #username="ngModel">
            <mat-hint align="end">Max length is 100</mat-hint>
            <mat-error *ngIf="username.invalid">Please enter your full name</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
            matInput
            type=number 
            placeholder="Your Mobile Number" 
            required
            [ngModel]="user?.userphonenumber"
            name="userphonenumber"
            #userPhoneNumber="ngModel"
            maxlength="10">
            <mat-hint>Do not include area code</mat-hint>
            <mat-error *ngIf="userPhoneNumber.invalid">Please enter your phone number</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            type=text 
            [ngModel]="user?.useraddress"
            name="useraddress" 
            placeholder="Your Address" 
            required
            maxlength="200"
            #userAddress="ngModel">
            <mat-hint align="end">Max length is 200</mat-hint>
            <mat-error *ngIf="userAddress.invalid">Please enter your full name</mat-error>
        </mat-form-field>
        
        <br/>
        <br/>
        <div>
            <label>Level of access</label>
            <br/><br/>
            <mat-radio-group name="usertype" [ngModel]="user?.usertype" #userType="ngModel">
                <mat-radio-button value="student">Student</mat-radio-button><br/>
              <mat-hint mat-small>Will have access to view/update the data</mat-hint><br/><br/>
              <mat-radio-button value="system">System</mat-radio-button><br/>
              <mat-hint>Will have access to view/update/delete the data</mat-hint><br/><br/>
              <mat-radio-button value="admin">Admin</mat-radio-button><br/>
              <mat-hint>Will have access to view/update/delete the data and create users</mat-hint><br/><br/>
            </mat-radio-group>
          </div>
        <button 
        mat-raised-button 
        color="primary" 
        type="submit"
        >Save
    </button>
    
    </mat-card> 
</form>


